<mat-sidenav-container
  class="example-container">
  <mat-sidenav
    role="navigation"
    #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/signup">
        <mat-icon>person_add</mat-icon>
        <span class="nav-caption">Signup</span>
      </a>
      <a mat-list-item routerLink="/login">
        <mat-icon>person</mat-icon>
        <span class="nav-caption">LogIn</span>
      </a>
      <a mat-list-item routerLink="/training">
        <mat-icon>
          sports_gymnastics
        </mat-icon>
        <span>Training</span>
      </a>

      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>eject</mat-icon>
          <span class="nav-caption">LogOut</span>
        </button>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div><a routerLink="/">LOGO</a></div>


      <div fxFlex
           fxLayout
           fxLayoutAlign="flex-end"
           fxLayoutGap="10px" fxHide.xs>
        <ul fxLayout
            class="navigation-items"
            fxLayoutGap="10px">
          <li><a routerLink="/signup">Signup</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/training">Training</a></li>
          <li>LogOut</li>
        </ul>

      </div>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
